<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.onetoday_back.weather.mapper.WeatherMapper">
<select id="findLocalByMemberId" resultType="com.otd.onetoday_back.weather.model.dto.LocationDto">
    SELECT l.city, l.county, l.town, l.nx, l.ny
    FROM member_location m
    JOIN locallist l ON m.local_id = l.local_id
    WHERE m.local_member_id = #{memberId}
</select>
</mapper>