<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.onetoday_back.memo.MemoMapper">
    <insert id="save">
        INSERT INTO memo
        (memo_name, memo_content)
        VALUES (#{title}, #{content})
    </insert>

    <select id="findAll" resultType="com.otd.onetoday_back.memo.model.MemoGetRes">
        SELECT
            memo_id AS id,
            memo_name AS title,
            memo_content AS content,
            created_at
        FROM memo
        <where>
        <if test="searchText != null and searchText != '' ">
            <bind name="pattern" value="'%' + searchText + '%'" />
        (memo_name LIKE #{pattern}
         OR memo_content LIKE #{pattern})
        </if>
        </where>
        ORDER BY memo_id DESC
    </select>

    <select id="findById" resultType="com.otd.onetoday_back.memo.model.MemoGetRes">
        SELECT
            memo_id AS id,
            memo_name AS title,
            memo_content AS content,
            created_at
        FROM memo
        WHERE memo_id = #{id}
    </select>
    <update id="modify">
        UPDATE memo
        SET memo_name = #{title},
            memo_content = #{content},
            memo_image = #{image}
        WHERE memo_id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM memo
        WHERE memo_id = #{id}
    </delete>
</mapper>