<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.onetoday_back.meal.MealMapper">

    <select id ="findFoodCategory">
        SELECT food_category
        FROM meal_food_cate
        WHERE food_category LIKE '%${foodCategory}%'
        LIMIT 30;
    </select>


    <select id ="findFoodNameForFoodNameAndCategory">
        SELECT food_db_id, food_name ,calorie
        FROM meal_food_db
        WHERE food_category LIKE '%${foodCategory}%' AND food_name LIKE '%${foodName}%'
        LIMIT 50;
    </select>

    <insert id="inputDayMealData">
        INSERT INTO meal_category
        (member_no_login, food_db_id, meal_day ,food_amount, meal_br_lu_di )
        VALUES
        <foreach collection="mealDetails" item="detail" separator=",">
         (#{memberNoLogin}, #{detail.foodDbId},  #{mealDay} , #{detail.foodAmount}, #{mealBrLuDi})
        </foreach>
    </insert>

    <select id="getDetailFoodInfo"  >
        SELECT  calorie , protein, fat, carbohydrate, sugar, natrium
        FROM  meal_food_db
        WHERE food_db_id IN
        <foreach collection="foodDbId" item="foodId"  open="(" separator="," close=")">
             #{foodId}
        </foreach>

    </select>

    <insert id="inputTotalCalorie">
        INSERT INTO meal_total_calo
            (member_no_login, meal_day, meal_br_lu_di, total_calorie , total_protein, total_fat, total_carbohydrate, total_sugar, total_natrium)
        VALUES (#{memberNoLogin}, #{mealDay}, #{mealBrLuDi}, #{totalCalorie},  #{totalProtein}, #{totalFat}, #{totalCarbohydrate}, #{totalSugar},#{totalNatrium} )

    </insert>

    <update id="modifyByMealDayAndMealBrLuDi">
        UPDATE meal_category
        SET  food_amount = #{foodAmount}
        WHERE meal_br_lu_di = #{mealInfo.mealBrLuDi} AND member_no_login =  #{mealInfo.memberNoLogin} and DATE(meal_day) = #{mealInfo.mealDay} AND  food_db_id = #{foodDbId}
    </update>

<!--    <delete id="deleteMealCategory">-->
<!--        DELETE FROM meal_category-->
<!--        WHERE food_db_id NOT IN (-->

<!--        <foreach collection="mealDetails" item="detail" separator=",">-->
<!--         #{detail.foodDbId}-->
<!--        </foreach>-->
<!--       ) AND meal_br_lu_di = #{mealBrLuDi} and member_no_login =  #{memberNoLogin} and DATE(meal_time) = #{mealDay}-->
<!--    </delete>-->

    <delete id="deleteMealCategoryIn">
        DELETE FROM meal_category
        WHERE meal_br_lu_di = #{mealInfo.mealBrLuDi} and member_no_login =  #{memberNoLogin} and DATE(meal_day) = #{mealInfo.mealDay}
    </delete>

    <delete id="deleteMealTotal">
        DELETE FROM meal_total_calo
        WHERE meal_br_lu_di = #{mealInfo.mealBrLuDi} AND member_no_login =  #{memberNoLogin} and DATE(meal_day) = #{mealInfo.mealDay}
    </delete>


    <update id="modifyByMealTotalAndMealBrLuDi">
            UPDATE meal_total_calo
            SET  total_calorie= #{totalCalorie} , total_protein =#{totalProtein}, total_fat= #{totalFat}, total_carbohydrate=#{totalCarbohydrate}, total_sugar=#{totalSugar}, total_natrium=#{totalNatrium}
            WHERE meal_br_lu_di = #{mealBrLuDi} AND member_no_login =  #{memberNoLogin} and DATE(meal_day) = #{mealDay}
    </update>



    <select id="getDataByMemberNoId">
      SELECT mf.food_name, mf.calorie, DATE(mc.meal_day) ,mc.food_db_id, mc.food_amount as amount, mt.total_calorie as all_day_calorie, mt.meal_br_lu_di, mt.total_fat, mt.total_carbohydrate, mt.total_protein
		FROM meal_total_calo as mt
                JOIN(  SELECT * FROM meal_category WHERE member_no_login =  #{memberNoLogin} AND
							meal_br_lu_di = #{mealBrLuDi} AND DATE(meal_day) = #{mealDay} ) mc ON  mt.meal_br_lu_di = #{mealBrLuDi} AND mt.member_no_login =  #{memberNoLogin}
                JOIN ( SELECT food_name, calorie ,food_db_id FROM meal_food_db ) as mf ON mf.food_db_id = mc.food_db_id ;


    </select>


    <select id="onDayTotalData">
        SELECT sum(total_calorie) as total_calorie, sum(total_protein) as total_protein, sum(total_fat) as total_fat, sum(total_carbohydrate)as total_carbohydrate, meal_day
        FROM meal_total_calo
        WHERE member_no_login = #{memberNoLogin} and DATE(meal_day) = #{mealDay}

    </select>

    <select id="getMealStatistic">
        SELECT meal_day , sum(total_calorie) as total_calorie,
                sum(total_protein) AS total_protein,
                sum(total_fat) as total_fat,
                sum(total_carbohydrate) as total_carbohydrate
<!--                ,sum(total_sugar) as total_sugar,-->
<!--                SUM(total_natrium) as total_natrium-->
            FROM  meal_total_calo
            WHERE meal_day BETWEEN #{startDate} AND #{endDate}
            GROUP BY meal_day;
    </select>


 </mapper>