<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otd.onetoday_back.community.mapper.MentMapper">

    <resultMap id="MentResMap" type="com.otd.onetoday_back.community.dto.MentRes">
        <id column="comment_id" property="commentId" />
        <result column="post_id" property="postId" />
        <result column="member_no_login" property="memberNoLogin" />
        <result column="nickname" property="memberNick" />
        <result column="profile_img" property="memberImg" />
        <result column="content" property="content" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <insert id="save">
        INSERT INTO community_comment (post_id, member_no_login, content, updated_at)
        VALUES (#{postId}, #{memberNoLogin}, #{content}, NOW())
    </insert>

    <select id="findByPostId" resultType="com.otd.onetoday_back.community.dto.MentRes">
        SELECT
        c.comment_id,
        c.post_id,
        c.member_no_login,
        a.nickname AS memberNick,
        a.profile_img AS memberImg,
        c.content,
        c.updated_at
        FROM community_comment c
        JOIN account a ON c.member_no_login = a.id
        WHERE c.post_id = #{postId}
        ORDER BY c.updated_at DESC
    </select>

    <delete id="deleteById">
        DELETE FROM community_comment WHERE comment_id = #{commentId}
    </delete>


</mapper>
